.jobcard{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.jobcard .company-icon img{
    height: 30px;
}



.job-info span{
    padding-inline: 5px;
    padding-block: 3px;
    font-weight: 500;
    font-size: 12px;
}

.level{
    border: 1px solid rgb(93, 125, 93);
    background-color: rgba(93, 125, 93,0.3);
}

.jobcard p{
    max-width: 90%;
    line-height: 25px;
}

.job-info .location{
    margin-right: 15px;
}

.buttons button{
    padding-inline: 7px;
    padding-block: 5px;
    border-radius: 3px;
}

.buttons .apply{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    margin-right: 20px;
}

.buttons .learn-more{
    border: 1px solid black;
    background-color: white;
    color: black;
}