
.hero{
    background: linear-gradient(to right,rgb(96, 11, 96),rgb(41, 1, 41));
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: max(300px,30vh);
    margin-bottom: 20px;
}

.hero h1{
    font-size: 30px;
}

.hero p{
    margin-bottom: 20px;
    max-width: 80%;
    align-self: center;
}

.hero .search-box{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-inline: 8px;
    padding-block: 5px;
    border-radius: 5px;
}

.search-box .search input{
    border: none;
    outline: none;
    padding-left: 10px;
}

.search-box button{
    padding-inline: 15px;
    padding-block: 7px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.trusted-by{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px -5px 5px rgba(0,0,0,0.2);
    padding-block: 13px;
    font-weight: bold;
    margin-bottom: 50px;
}

.trusted-by img{
    height: 28px;
}


